# Виртуальное окружение
venv/

# Логи
logs/

# Конфигурационные файлы с секретами
.env

# Файлы, специфичные для Python
__pycache__/
*.pyc

# IDE настройки
.vscode/
.idea/

# Бэкапы
*.bak
*.swp